/* Header */ 

.headerTop
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.headerRoot
{
    background-image: url(images/spaceBG3.jpg);
    background-size: cover;
}

.header
{
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#bthsLogo
{
    height: 120px;
    width: 120px;
    margin-left: 10px;
}

.nameOfPage
{
    font-family: 'Coming Soon', cursive;
    margin-left: 20px;
    font-size: 50px;
    color:rgb(12, 151, 244);
}

/* Navigation Bar */ 

.headerNav 
{
    background-color: rgb(50, 156, 255);
    height: 50px;
}

.navSection
{
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
}

.navStructure
{
    margin: 0;
    padding: 0;
}

.navLink 
{
    display: block;
    height: 50px;
    width: 22%;
    float: left;
    color: rgb(0, 255, 76);
    background-color: rgb(50, 156, 255);
    text-align: center;
    text-decoration: none;
}

.navLinkActive
{
    height: 50px;
    display: block;
    width: 22%;
    float: left;
    color: rgb(0, 255, 76);
    background-color: rgb(87, 114, 249);
    text-align: center;
    text-decoration: none;
}

.navText
{
    margin-top: 10px;
    margin-bottom: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.navList
{
    padding: 0 0 50px 50px;
    width: auto; 
    list-style-type: none;
    display: inline;
}


nav a:hover
{
    transition-duration: 2s;
    background-color: rgba(0, 0, 0, 0.3);
    color:rgb(234, 87, 37);
}

/* Main */

.mainPage
{
    background-image: url(images/colorfulBG.jpg);
    background-size: cover;
    min-height: 100vh;
}

.mainPageTwo
{
    background-image: url(images/pastelColor.jpg);
    background-size: cover;
    min-height: 100vh;
}

.mainPageThree
{
    background-image: url(images/greenerPastel.jpg);
    background-size: cover;
    min-height: 100vh;
}

.mainPageFour
{
    background-image: url(images/colorfulBG.jpg);
    background-size: cover;
    min-height: 100vh;
}

.mainHeader
{
    display: flex;
    
}

h2
{
    margin: 120px;
    font-size: 75px;
    font-family: 'Zeyada', cursive;
    color: white;
}

.profile
{
    border-radius: 50%;
    width: 250px;
    height: 300px;
    margin-top: 30px;
}


main > section > div > p 
{
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

.sectionContainer
{
    padding: 10px;
    width: 800px;
    height: 300px;
    background-color: rgb(176, 176, 176);
    margin: 50px;
}

.textContainer
{
    width: 780px;
    padding: 10px;
    height: 280px;
    background-color: beige;
}

.formAside
{
    margin-top: 120px;
    margin-right:260px;
    float: right;
}

footer
{
    float: right;
    margin-right: 150px;
    background-image: url(/images/greenPastel2.jpg);
    padding: 10px;
}

.interestInfo
{
    display: flex;
}

#rainbowSixSiege
{
    width: 430px;
    height: 570px;
    padding: 0 -150px 0 150px;
}

main > div > section > p 
{
    margin-left: 50px;
    font-size: 18px;
    font-family: 'Neucha', cursive;
}

#gaming
{
    margin-left: 140px;
    font-size: 75px;
}

#psychoPass
{
    width: 400px;
    height: 570px;
    margin-left: 270px;
}

#anime
{
    margin-left: 370px;
    font-size: 75px;
}

#basketball
{
    margin-left: 310px;
    font-size: 75px;
}

#nbaCover
{
    width: 420px;
    height: 570px;
    margin-left: 275px;
}

#descriptionShift
{
    margin-left: 270px;
}


#descriptionShift2
{
    margin-left: 280px;
}

#magicVideo
{
    width: 1500px;
    height: 600px;
    padding-left: 200px;
    padding-right: 200px;
}

#magicTitle
{
    text-align: center;
    font-size: 60px;
    font-family: 'Neucha', cursive;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 600px;
}

